<app-mycontainer>

</app-mycontainer>

<app-practice>



</app-practice>

<!-- <div class="box" [style.margin]="isActive?mystyle1:mystyle2">
  Classs Bind
</div> -->
<br><br>
<div class="box" [ngClass]="'class1 class2 class3'" [ngStyle]=" { 'background-color':'red',
'border':'5px solid green'} ">
  Classs Bind
</div>
<br><br>
<div class="box2">

<!-- <button (click)="onAddCart()">  Add to Cart</button> -->
<!-- <p>{{message}}</p> -->
<input type="text" name="none" #input_info >
<Button (click)="onGetInfo(input_info)" >Get Info</Button>
<p>{{info}}</p>


<br><br>

<button value="TV" (click)=onAddCart($event)>TV</button> 
<button value="AC" (click)=onAddCart($event)>AC</button>
<button value="RADIO" (click)=onAddCart($event)>Radio</button> 
<p>{{cart_message}}</p>

</div>

<div>
  <input type="text" value="anup" [(ngModel)] = "uname">
  <h2>{{uname}}</h2>
</div>